{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-left align-items-center min-vh-100">
  <div class="success text-start" style="max-width: 600px;">
    <h1>Order Confirmation</h1>
    <p>Your order has been successfully placed!</p>

    <p><strong>Order Number:</strong> {{ order.id }}</p>
    {% for booking in order.bookings.all %}
    <p><strong>Service:</strong>{{ booking.service.name }}</p>
    <p><strong>Chosen Date:</strong> {{ booking.date }}</p>
    <p><strong>Chosen Time:</strong> {{ booking.time }}</p>
    {% endfor %}
    <p><strong>Total:</strong> £{{ order.total }}</p>

    <p>Thank you for your order. You will receive an email confirmation shortly.</p>
  </div>
</div>

{% endblock %}

